<h1>Conversores</h1>

<ul>
  <li><%= link_to  "Temperatura (Celsius <-> Fahrenheit)", new_temp_converter_path %></li>
  <li><%= link_to  "Distância (Milhas <-> Kilômetros)", new_distance_converter_path %></li>
</ul>