<%= render 'shared/converter_form', 
  url_path: temp_converters_path, 
  title: "Temperatura (Celsius <-> Fahrenheit)", 
  units: @units, 
  placeholder_1: "medida em celsius (C)", 
  placeholder_2: "medida em fahrenheit (F)"
%>
