<h1><%= title %></h1>
<%= form_tag url_path do |f| %>
  <div class="row">
    <div class="column column-25">
      <%= text_field_tag units[:column_1], units[:value_1], placeholder: placeholder_1, class: "input-1" %>
    </div>
    <div class="column column-10">
      <p class="text-center"> = </p>
    </div>
    <div class="column column-25">
      <%= text_field_tag units[:column_2], units[:value_2], placeholder: placeholder_2, class: "input-2" %>
    </div>
    <div class="column column-10">
      <%= submit_tag "Converter" %>
    </div>
  </div>
<% end %>