<%= render 'shared/converter_form', 
  url_path: distance_converters_path, 
  title: "Distância (Milhas <-> Km)", 
  units: @units, 
  placeholder_1: "valor em Milhas (miles)", 
  placeholder_2: "valor em Kilômetros (Km)"
%>
