<!DOCTYPE html>
<html>
  <head>
    <title>UnitConverterApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <section>
        <%= yield %>
        <%= link_to "Voltar", root_path %>
      </section>
    </div>
  </body>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.input-1').on('focus', function(){
        $('.input-2').val("");
        $('.input-2').prop('disabled', true);
      });

      $('.input-1').on('blur', function(){
        $('.input-2').prop('disabled', false);
      });

      $('.input-2').on('focus', function(){
        $('.input-1').val("");
        $('.input-1').prop('disabled', true);
      });

      $('.input-2').on('blur', function(){
        $('.input-1').prop('disabled', false);
      });
    });
  </script>
</html>
